body {
    background-color: cadetblue;
}

P {
    color: black;
}

.capinhas {
    font-style: italic;
}

img {
    width: ;
}
    header}
   border-bottom:solid 2px rpg(42,122,228);
   padding:20px;
   color:rpb(42,122,228);
